<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Communication</title>
    <link rel="stylesheet" href="/static/chat.css">
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
</head>
<body>
    <div id="chat-container">
        <div id="header">
            <h1>Communication</h1>
            <span>Connecté en tant que <strong>{{ username }}</strong></span>
        </div>
        <div id="chat-box">
            {% for username, message, created_at in messages %}
                <div class="message">
                    <span class="username">{{ username|e }}</span>
                    <span class="timestamp">({{ created_at }})</span>
                    {% if message.endswith(('.jpg', '.jpeg', '.png', '.gif', '.mp4', '.webm', '.ogg')) %}
                        <a href="{{ message|e }}" target="_blank" class="file-link">{{ message|e }}</a>
                    {% else %}
                        <span class="message-content">{{ message|safe }}</span>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
        <div id="input-container">
            <input type="text" id="message" placeholder="Entrez votre message..." class="input-field">
            <button onclick="sendMessage()" class="btn">Envoyer</button>
        </div>
        <div id="file-container">
            <input type="file" id="file-input" class="file-input-hidden">
            <button onclick="triggerFileInput()" class="btn btn-file">Choisir et Envoyer Fichier</button>
        </div>
    </div>

    <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
    <script>
        const username = new URLSearchParams(window.location.search).get('username');
        if (!username) {
            window.location.href = '/';
        }

        const socket = io();

        socket.on('connect', () => {
            console.log('Connecté au serveur');
        });

        socket.on('message', (data) => {
            addMessageToChatBox({
                username: username,
                timestamp: new Date().toLocaleString(),
                content: data
            });
        });

        socket.on('file', (data) => {
            addMessageToChatBox({
                username: data.username,
                timestamp: new Date().toLocaleString(),
                content: `<a href="${data.filePath}" target="_blank" class="file-link">${data.username} a envoyé un fichier: ${data.fileName}</a>`
            });
        });

        document.getElementById('message').addEventListener('keypress', function (e) {
            if (e.key === 'Enter') {
                sendMessage();
            }
        });

        function sendMessage() {
            const message = document.getElementById('message').value;
            if (message) {
                socket.send(`${username}: ${message}`);
                document.getElementById('message').value = '';
            }
        }

        function triggerFileInput() {
            const fileInput = document.getElementById('file-input');
            fileInput.click();
            fileInput.onchange = () => {
                sendFile();
            };
        }

        function sendFile() {
            const fileInput = document.getElementById('file-input');
            const file = fileInput.files[0];
            if (file) {
                const reader = new FileReader();
                reader.onload = () => {
                    const arrayBuffer = reader.result;
                    const base64String = btoa(new Uint8Array(arrayBuffer).reduce((data, byte) => data + String.fromCharCode(byte), ''));
                    socket.emit('file', { 
                        username: username,
                        fileName: file.name,
                        fileData: base64String
                    });
                };
                reader.readAsArrayBuffer(file);
            }
        }

        function addMessageToChatBox({ username, timestamp, content }) {
            const chatBox = document.getElementById('chat-box');
            const newMessage = document.createElement('div');
            newMessage.classList.add('message');
            newMessage.innerHTML = `<span class="username">${username}</span><span class="timestamp">(${timestamp})</span><span class="message-content">${content}</span>`;
            chatBox.appendChild(newMessage);
            chatBox.scrollTop = chatBox.scrollHeight;
        }
    </script>
</body>
<footer>
    <p>Version en cours de développement.    </p><a href="https://www.youtube.com/@ArcomPro64">Youtube</a><P>  |  </P><a href="https://discord.gg/9pQe7dZKCD">Discord</a>
</footer>
</html>
